# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
*.cache
*.d
*.o
*.d
*.bin
*.elf
*.json
*.cpp
*.cpp.d
*.cpp.o
*.ino.bin
*.ino.elf
*.json

build\*.*
build/*.*
./build/*.*
*.cpp
build/sketch/WiTcontroller.ino.cpp
build/WiTcontroller.ino.bin
build/sketch/actions.h

.pio
